# Dependencies
node_modules/

# Build
dist/
.angular/

# Environment - NO subir archivos .env reales
.env
.env.local
.env.*.local
# Pero SI incluir el ejemplo
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test
coverage/